workflow-test-simple.json
{
  "name": "Test Webhook PDF Simple",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "parameters": {
        "path": "pdf-upload-analysis",
        "httpMethod": "POST"
      },
      "typeVersion": 1
    },
    {
      "id": "log-data",
      "name": "Log Data",
      "type": "n8n-nodes-base.function",
      "position": [500, 300],
      "parameters": {
        "functionCode": "console.log('📋 Données reçues:', JSON.stringify($input.all(), null, 2));\n\nreturn $input.all();"
      },
      "typeVersion": 1
    },
    {
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [750, 300],
      "parameters": {
        "responseMode": "responseNode",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"PDF reçu avec succès\",\n  \"clientName\": \"{{ $json.clientName }}\",\n  \"clientEmail\": \"{{ $json.clientEmail }}\",\n  \"filesCount\": {{ $json.files.length }},\n  \"timestamp\": \"{{ $now.format('YYYY-MM-DD HH:mm:ss') }}\"\n}"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Data": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}