workflow-template-deployment-system.json
{
  "name": "Système de Déploiement de Template avec Formulaire",
  "nodes": [
    {
      "id": "webhook-template-deploy",
      "name": "Template Deployment Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "parameters": {
        "path": "deploy-template",
        "httpMethod": "POST"
      },
      "typeVersion": 1
    },
    {
      "id": "generate-user-link",
      "name": "Generate User Link",
      "type": "n8n-nodes-base.function",
      "position": [500, 300],
      "parameters": {
        "functionCode": "// Générer un lien unique pour l'utilisateur\nconst userId = $input.first().json.userId;\nconst templateId = $input.first().json.templateId;\nconst userEmail = $input.first().json.userEmail;\n\n// Créer un token unique\nconst token = Buffer.from(`${userId}-${templateId}-${Date.now()}`).toString('base64');\n\n// URL du formulaire personnalisé\nconst formUrl = `https://votre-domaine.com/upload-form?token=${token}&template=${templateId}`;\n\nreturn [{\n  json: {\n    userId: userId,\n    templateId: templateId,\n    userEmail: userEmail,\n    token: token,\n    formUrl: formUrl,\n    expiresAt: new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString() // 7 jours\n  }\n}];"
      },
      "typeVersion": 1
    },
    {
      "id": "send-template-link",
      "name": "Send Template Link",
      "type": "n8n-nodes-base.emailSend",
      "position": [750, 300],
      "parameters": {
        "fromEmail": "noreply@votre-domaine.com",
        "toEmail": "={{ $json.userEmail }}",
        "subject": "🔗 Votre lien personnalisé pour l'analyse de devis",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody{font-family:Arial,sans-serif;line-height:1.6;color:#333}\n.container{max-width:600px;margin:0 auto;padding:20px}\n.btn{display:inline-block;background:#007bff;color:white;padding:15px 30px;text-decoration:none;border-radius:5px;margin:20px 0}\n</style>\n</head>\n<body>\n<div class=\"container\">\n<h2>📋 Votre analyse de devis est prête !</h2>\n<p>Bonjour,</p>\n<p>Votre template d'analyse de devis d'assurance a été configuré avec succès.</p>\n<p><strong>Cliquez sur le bouton ci-dessous pour commencer l'analyse :</strong></p>\n<a href=\"{{ $json.formUrl }}\" class=\"btn\">🚀 Analyser mes devis</a>\n<p><strong>Instructions :</strong></p>\n<ul>\n<li>Vous pouvez uploader jusqu'à <strong>3 devis PDF</strong></li>\n<li>L'analyse sera effectuée par notre IA</li>\n<li>Vous recevrez le devoir de conseil par email</li>\n</ul>\n<p><strong>Lien valide jusqu'au :</strong> {{ $json.expiresAt }}</p>\n<p>Cordialement,<br>L'équipe Automivy</p>\n</div>\n</body>\n</html>"
      },
      "credentials": {
        "smtp": {
          "id": "ADMIN_SMTP_CREDENTIAL_ID",
          "name": "ADMIN_SMTP_CREDENTIAL_NAME"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "webhook-upload-form",
      "name": "Upload Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 600],
      "parameters": {
        "path": "upload-devis",
        "httpMethod": "POST"
      },
      "typeVersion": 1
    },
    {
      "id": "validate-token",
      "name": "Validate Token",
      "type": "n8n-nodes-base.function",
      "position": [500, 600],
      "parameters": {
        "functionCode": "// Valider le token et récupérer les infos utilisateur\nconst token = $input.first().json.token;\nconst uploadedFiles = $input.first().json.files || [];\n\n// Décoder le token pour récupérer les infos\nlet userId, templateId, timestamp;\ntry {\n  const decoded = Buffer.from(token, 'base64').toString('utf-8');\n  [userId, templateId, timestamp] = decoded.split('-');\n} catch (error) {\n  throw new Error('Token invalide');\n}\n\n// Vérifier que le token n'est pas expiré (7 jours)\nconst tokenTime = parseInt(timestamp);\nconst now = Date.now();\nif (now - tokenTime > 7 * 24 * 60 * 60 * 1000) {\n  throw new Error('Token expiré');\n}\n\n// Vérifier le nombre de fichiers (max 3)\nif (uploadedFiles.length > 3) {\n  throw new Error('Maximum 3 devis autorisés');\n}\n\nreturn [{\n  json: {\n    userId: userId,\n    templateId: templateId,\n    files: uploadedFiles,\n    clientEmail: $input.first().json.clientEmail,\n    clientName: $input.first().json.clientName,\n    valid: true\n  }\n}];"
      },
      "typeVersion": 1
    },
    {
      "id": "process-pdfs",
      "name": "Process PDFs",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [750, 600],
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "pdf-ocr",
      "name": "PDF OCR Processing",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 600],
      "parameters": {
        "method": "POST",
        "url": "https://api.pdf.co/v1/pdf/convert/to/text",
        "headers": {
          "Content-Type": "application/json"
        },
        "body": {
          "url": "={{ $json.fileUrl }}"
        },
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PDF_CO_API_KEY",
          "name": "PDF_CO_API_KEY"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "openrouter-model",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [1000, 800],
      "parameters": {
        "modelName": "anthropic/claude-3.5-sonnet",
        "temperature": 0.2
      },
      "credentials": {
        "openRouterApi": {
          "id": "ADMIN_OPENROUTER_CREDENTIAL_ID",
          "name": "ADMIN_OPENROUTER_CREDENTIAL_NAME"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "calculator-tool",
      "name": "Calculator Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [1000, 950],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "memory",
      "name": "Buffer Window Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [1000, 1100],
      "parameters": {
        "contextWindowLength": 10
      },
      "typeVersion": 1
    },
    {
      "id": "ai-analysis",
      "name": "AI Agent Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1250, 600],
      "parameters": {
        "promptType": "define",
        "text": "Analyse ce devis d'assurance et fournis les informations suivantes au format JSON strict:\n- Nom de l'assureur\n- Type de contrat\n- Prime mensuelle/annuelle\n- Garanties principales (hospitalisation, optique, dentaire, médecine courante) avec niveaux de remboursement\n- Exclusions importantes\n- Franchise\n\nIMPORTANT: Ignore toutes les garanties liées au '100% santé'.\n\nTexte extrait par OCR:\n{{ $json.body }}"
      },
      "typeVersion": 1
    },
    {
      "id": "aggregate-analyses",
      "name": "Aggregate Analyses",
      "type": "n8n-nodes-base.aggregate",
      "position": [1500, 600],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "ai-comparison",
      "name": "AI Comparison",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1750, 600],
      "parameters": {
        "promptType": "define",
        "text": "En tant que conseiller en assurance, rédige un devoir de conseil complet comparant ces devis d'assurance:\n\n{{ $json.data }}\n\nStructure attendue:\n1. Synthèse comparative (tableau)\n2. Points forts/faibles de chaque offre\n3. Profils recommandés\n4. Recommandation personnalisée\n5. Points de vigilance\n\nUtilise un langage clair et accessible."
      },
      "typeVersion": 1
    },
    {
      "id": "markdown",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [2000, 600],
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}"
      },
      "typeVersion": 1
    },
    {
      "id": "send-devoir-conseil",
      "name": "Send Devoir de Conseil",
      "type": "n8n-nodes-base.emailSend",
      "position": [2250, 600],
      "parameters": {
        "fromEmail": "conseil@votre-domaine.com",
        "toEmail": "={{ $json.clientEmail }}",
        "subject": "📋 Devoir de Conseil Assurance - {{ $now.format('DD/MM/YYYY') }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody{font-family:Arial,sans-serif;line-height:1.6;color:#333}\n.container{max-width:800px;margin:0 auto;padding:20px}\n.header{background:#007bff;color:white;padding:20px;border-radius:10px 10px 0 0}\n.content{padding:30px;background:#f9f9f9;border-radius:0 0 10px 10px}\n</style>\n</head>\n<body>\n<div class=\"container\">\n<div class=\"header\">\n<h1>📋 Devoir de Conseil Assurance</h1>\n<p>Analyse personnalisée de vos devis</p>\n</div>\n<div class=\"content\">\n{{ $json.html }}\n<p><strong>Date d'analyse :</strong> {{ $now.format('DD/MM/YYYY à HH:mm') }}</p>\n<p>Cordialement,<br>L'équipe Automivy</p>\n</div>\n</div>\n</body>\n</html>"
      },
      "credentials": {
        "smtp": {
          "id": "ADMIN_SMTP_CREDENTIAL_ID",
          "name": "ADMIN_SMTP_CREDENTIAL_NAME"
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "Template Deployment Webhook": {
      "main": [
        [
          {
            "node": "Generate User Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate User Link": {
      "main": [
        [
          {
            "node": "Send Template Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Form Webhook": {
      "main": [
        [
          {
            "node": "Validate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Token": {
      "main": [
        [
          {
            "node": "Process PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process PDFs": {
      "main": [
        [
          {
            "node": "PDF OCR Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF OCR Processing": {
      "main": [
        [
          {
            "node": "AI Agent Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Analysis": {
      "main": [
        [
          {
            "node": "Aggregate Analyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Analyses": {
      "main": [
        [
          {
            "node": "AI Comparison",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Comparison": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Send Devoir de Conseil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Analysis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Window Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Analysis",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  }
}
