workflow-pdf-analysis-credentials-ssl.json
{
  "id": "F5YmjMHHXajjOhxG",
  "meta": {
    "instanceId": "b0be7bf6e0dec32a9b3d1eb6df3c73694ce94c9ac7838dada4077a352677a688",
    "templateCredsSetupCompleted": true
  },
  "name": "PDF Analysis Credentials SSL",
  "tags": [],
  "nodes": [
    {
      "id": "41819d08-d5e7-448d-b6b7-21c280de619a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -752,
        16
      ],
      "webhookId": "2955d245-248d-4c9d-b311-e15af756acac",
      "parameters": {
        "path": "pdf-upload-analysis",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2.1
    },
    {
      "id": "1f909827-a135-4ebe-a988-5b8753b43aed",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -224,
        16
      ],
      "parameters": {
        "text": "=Analyse ces devis d'assurance PDF et fournis un devoir de conseil complet.\nClient: {{ $json.clientName }}\nEmail: {{ $json.clientEmail }}\nNombre de devis: {{ $json.files.length }}\n\nFournis une analyse détaillée avec recommandations.",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 2.2
    },
    {
      "id": "43fece2d-fdb3-4710-83a2-af56ec19f014",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        -368,
        224
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openRouterApi": {
          "id": "ADMIN_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "6d170cdd-27d5-4d7f-8f57-acf8337a888a",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -224,
        224
      ],
      "parameters": {},
      "typeVersion": 1.3
    },
    {
      "id": "beda4325-520a-4104-b644-a8b3c3be94ff",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        -80,
        224
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "d1a903e1-7467-4204-9126-66c44481f4eb",
      "name": "Send email - SSL in Credentials",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        160,
        16
      ],
      "webhookId": "b9ffef70-19cc-4ffe-b678-0ae9f365012f",
      "parameters": {
        "html": "={{ $json.output }}",
        "options": {
          "retryOnFail": true,
          "retryTimes": 5,
          "retryDelay": 10000,
          "timeout": 60000,
          "connectionTimeout": 30000,
          "greetingTimeout": 15000,
          "socketTimeout": 30000,
          "pool": true,
          "maxConnections": 5,
          "maxMessages": 100,
          "rateDelta": 1000,
          "rateLimit": 5
        },
        "subject": "=Devoir de Conseil Assurance - {{ $now.format('DD/MM/YYYY') }}",
        "toEmail": "={{ $('Email Validation').item.json.clientEmail }}",
        "fromEmail": "user@heleam.com",
        "replyTo": "user@heleam.com"
      },
      "credentials": {
        "smtp": {
          "id": "USER_SMTP_CREDENTIAL_ID",
          "name": "USER_SMTP_CREDENTIAL_NAME",
          "user": "user@heleam.com",
          "password": "MON_MDP",
          "host": "smtp.gmail.com",
          "port": 465,
          "secure": true
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "0f198a5a-a4ea-4904-a0c8-c70df0b321e5",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        -528,
        16
      ],
      "parameters": {
        "mode": "raw",
        "options": {},
        "jsonOutput": "{\n  \"sessionId\": \"={{ $json.sessionId }}\",\n  \"clientName\": \"={{ $json.clientName }}\",\n  \"clientEmail\": \"={{ $json.clientEmail }}\",\n  \"files\": \"={{ $json.files }}\",\n  \"timestamp\": \"={{ $now.format('YYYY-MM-DD HH:mm:ss') }}\"\n}"
      },
      "typeVersion": 3.4
    },
    {
      "id": "email-validation-node",
      "name": "Email Validation",
      "type": "n8n-nodes-base.set",
      "position": [
        0,
        16
      ],
      "parameters": {
        "mode": "raw",
        "options": {},
        "jsonOutput": "{\n  \"clientEmail\": \"={{ $('Edit Fields1').item.json.clientEmail }}\",\n  \"clientName\": \"={{ $('Edit Fields1').item.json.clientName }}\",\n  \"analysisResult\": \"={{ $json.output }}\",\n  \"timestamp\": \"={{ $now.format('YYYY-MM-DD HH:mm:ss') }}\"\n}"
      },
      "typeVersion": 3.4
    }
  ],
  "active": true,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eedc6df1-2ecd-4b32-8cfe-3f073ee8c08d",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Email Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Validation": {
      "main": [
        [
          {
            "node": "Send email - SSL in Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
