workflow-test-simple.json
{
  "name": "Test Simple - user@heleam.com",
  "nodes": [
    {
      "parameters": {
        "downloadAttachments": true,
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [240, 300],
      "id": "email-trigger",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "A9oXTLTz5XePgpBs",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENROUTER_API_KEY"
            },
            {
              "name": "Content-Type", 
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "anthropic/claude-3.5-sonnet"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"Analyze this email: \" + JSON.stringify($json)}]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "id": "ai-analysis",
      "name": "AI Analysis",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DJ4JtAswl4vKWvdI",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@votre-app.com",
        "toEmail": "={{$json.from}}",
        "subject": "Re: {{$json.subject}}",
        "message": "={{$json.ai_response}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [680, 300],
      "id": "send-reply",
      "name": "Send Reply",
      "credentials": {
        "smtp": {
          "id": "IIL6ud7OH0klmE36",
          "name": "smtp_auto_ff8afa8b"
        }
      }
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
