workflow-pdf-ocr-example.json
{
  "name": "Analyse PDF avec OCR Local",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "parameters": {
        "path": "pdf-ocr-analysis",
        "httpMethod": "POST"
      },
      "typeVersion": 1
    },
    {
      "id": "pdf-ocr",
      "name": "PDF OCR Processing",
      "type": "n8n-nodes-tesseractjs",
      "position": [500, 300],
      "parameters": {
        "operation": "ocr",
        "language": "fra",
        "imageData": "={{ $json.fileData }}",
        "options": {
          "tessedit_char_whitelist": "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖØÙÚÛÜÝÞßàáâãäåæçèéêëìíîïðñòóôõöøùúûüýþÿ"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "openrouter-model",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [500, 500],
      "parameters": {
        "modelName": "anthropic/claude-3.5-sonnet",
        "temperature": 0.2
      },
      "credentials": {
        "openRouterApi": {
          "id": "ADMIN_OPENROUTER_CREDENTIAL_ID",
          "name": "ADMIN_OPENROUTER_CREDENTIAL_NAME"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "calculator-tool",
      "name": "Calculator Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [500, 650],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "memory",
      "name": "Buffer Window Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [500, 800],
      "parameters": {
        "contextWindowLength": 10
      },
      "typeVersion": 1
    },
    {
      "id": "ai-analysis",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [750, 300],
      "parameters": {
        "promptType": "define",
        "text": "Analyse ce devis d'assurance extrait par OCR et fournis les informations suivantes au format JSON strict:\n- Nom de l'assureur\n- Type de contrat\n- Prime mensuelle/annuelle\n- Garanties principales (hospitalisation, optique, dentaire, médecine courante) avec niveaux de remboursement\n- Exclusions importantes\n- Franchise\n\nIMPORTANT: Ignore toutes les garanties liées au '100% santé'.\n\nTexte extrait par OCR:\n{{ $json.text }}"
      },
      "typeVersion": 1
    },
    {
      "id": "set-data",
      "name": "Set Data",
      "type": "n8n-nodes-base.set",
      "position": [1000, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {"name": "analysis", "type": "string", "value": "={{ $json.output }}"},
            {"name": "timestamp", "type": "string", "value": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}"}
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "ai-summary",
      "name": "AI Summary",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [1250, 300],
      "parameters": {
        "promptType": "define",
        "text": "En tant que conseiller en assurance, rédige un devoir de conseil complet comparant ces devis d'assurance:\n\n{{ $json.analysis }}\n\nStructure attendue:\n1. Synthèse comparative (tableau)\n2. Points forts/faibles de chaque offre\n3. Profils recommandés\n4. Recommandation personnalisée\n5. Points de vigilance\n\nUtilise un langage clair et accessible."
      },
      "typeVersion": 1
    },
    {
      "id": "markdown",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [1500, 300],
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}"
      },
      "typeVersion": 1
    },
    {
      "id": "email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [1750, 300],
      "parameters": {
        "fromEmail": "={{$workflow.variables.senderEmail}}",
        "toEmail": "={{$workflow.variables.recipientEmail}}",
        "subject": "Devoir de Conseil Assurance - {{ $json.timestamp }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody{font-family:Arial,sans-serif;line-height:1.6;color:#333}\n.container{max-width:800px;margin:0 auto;padding:20px}\n</style>\n</head>\n<body>\n<div class=\"container\">\n<h2>Devoir de Conseil Assurance</h2>\n{{ $json.html }}\n</div>\n</body>\n</html>"
      },
      "credentials": {
        "smtp": {
          "id": "USER_SMTP_CREDENTIAL_ID",
          "name": "USER_SMTP_CREDENTIAL_NAME"
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "PDF OCR Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF OCR Processing": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Window Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  }
}
