workflows/gestion-taches-workflow.json
{
  "name": "Gestion des Tâches Automatisée",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "gestion-taches",
        "options": {}
      },
      "webhookId": "gestion-taches-webhook"
    },
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 500],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "router-actions",
      "name": "Router Actions",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [500, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Créer Tâche"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Mettre à jour Tâche"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-3",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Supprimer Tâche"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-4",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "Lister Tâches"
            }
          ]
        },
        "fallbackOutput": "output",
        "options": {}
      }
    },
    {
      "id": "create-task-db",
      "name": "Créer Tâche DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [750, 200],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tasks (title, description, priority, status, due_date, assigned_to, created_at, updated_at) VALUES ($1, $2, $3, $4, $5, $6, NOW(), NOW()) RETURNING *",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "USER_POSTGRES_CREDENTIAL_ID",
          "name": "USER_POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "id": "update-task-db",
      "name": "Mettre à jour Tâche DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [750, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tasks SET title = COALESCE($1, title), description = COALESCE($2, description), priority = COALESCE($3, priority), status = COALESCE($4, status), due_date = COALESCE($5, due_date), assigned_to = COALESCE($6, assigned_to), updated_at = NOW() WHERE id = $7 RETURNING *",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "USER_POSTGRES_CREDENTIAL_ID",
          "name": "USER_POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "id": "delete-task-db",
      "name": "Supprimer Tâche DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [750, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM tasks WHERE id = $1 RETURNING *",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "USER_POSTGRES_CREDENTIAL_ID",
          "name": "USER_POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "id": "list-tasks-db",
      "name": "Lister Tâches DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [750, 500],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tasks WHERE ($1::text IS NULL OR status = $1) AND ($2::text IS NULL OR assigned_to = $2) AND ($3::date IS NULL OR due_date <= $3) ORDER BY priority DESC, due_date ASC, created_at DESC",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "USER_POSTGRES_CREDENTIAL_ID",
          "name": "USER_POSTGRES_CREDENTIAL_NAME"
        }
      }
    },
    {
      "id": "format-response",
      "name": "Formater Réponse",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 300],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Opération effectuée avec succès"
            }
          ],
          "object": [
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "check-overdue",
      "name": "Vérifier Tâches Échues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 500],
      "parameters": {
        "jsCode": "// Vérifier les tâches échues et envoyer des notifications\nconst items = $input.all();\nconst now = new Date();\nconst overdueTasks = [];\n\nfor (const item of items) {\n  const task = item.json;\n  if (task.due_date && new Date(task.due_date) < now && task.status !== 'completed' && task.status !== 'cancelled') {\n    overdueTasks.push({\n      ...task,\n      days_overdue: Math.floor((now - new Date(task.due_date)) / (1000 * 60 * 60 * 24))\n    });\n  }\n}\n\nreturn overdueTasks.map(task => ({ json: task }));"
      }
    },
    {
      "id": "send-notification",
      "name": "Envoyer Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1250, 300],
      "parameters": {
        "fromEmail": "noreply@automivy.com",
        "toEmail": "={{USER_EMAIL}}",
        "subject": "Notification Gestion des Tâches",
        "text": "={{ $json.message || 'Une action a été effectuée sur vos tâches' }}",
        "options": {}
      },
      "credentials": {
        "smtp": {
          "id": "USER_SMTP_CREDENTIAL_ID",
          "name": "USER_SMTP_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Router Actions", "type": "main", "index": 0}]]
    },
    "Schedule Trigger": {
      "main": [[{"node": "Vérifier Tâches Échues", "type": "main", "index": 0}]]
    },
    "Router Actions": {
      "main": [
        [{"node": "Créer Tâche DB", "type": "main", "index": 0}],
        [{"node": "Mettre à jour Tâche DB", "type": "main", "index": 0}],
        [{"node": "Supprimer Tâche DB", "type": "main", "index": 0}],
        [{"node": "Lister Tâches DB", "type": "main", "index": 0}]
      ]
    },
    "Créer Tâche DB": {
      "main": [[{"node": "Formater Réponse", "type": "main", "index": 0}]]
    },
    "Mettre à jour Tâche DB": {
      "main": [[{"node": "Formater Réponse", "type": "main", "index": 0}]]
    },
    "Supprimer Tâche DB": {
      "main": [[{"node": "Formater Réponse", "type": "main", "index": 0}]]
    },
    "Lister Tâches DB": {
      "main": [[{"node": "Formater Réponse", "type": "main", "index": 0}]]
    },
    "Formater Réponse": {
      "main": [[{"node": "Envoyer Notification", "type": "main", "index": 0}]]
    },
    "Vérifier Tâches Échues": {
      "main": [[{"node": "Envoyer Notification", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "active": false,
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}

